#title {
    line-height: 100px; 
}
.card-body {
    background-color: black;
    color: white;

}
#question {
    text-align: center;
  
    
}
#answers {
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    text-align: center;
}

body {
    background-image: url("../images/swirl_pattern.png");
}
.card-text {
    text-align: center;
    padding: .5rem;
}